PROJECT/CODE/index.json

[{"id":"6b689a25.9f21a4","type":"tab","label":"BANK LOAN PREDICTION ","disabled":false,"info":""},{"id":"f43c106a.9ef2b","type":"ui_form","z":"6b689a25.9f21a4","name":"","label":"Applicant Details : Please enter the Applicant details to predict the Loan Application ","group":"3ea44d2.b3e7db2","order":2,"width":0,"height":0,"options":[{"label":"Enter your gender","value":"Gender","type":"text","required":true,"rows":null},{"label":"Enter your marital status","value":"Married","type":"text","required":true,"rows":null},{"label":"Enter no.of dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Enter your education status","value":"Education","type":"text","required":true,"rows":null},{"label":"Are you self-employed ?","value":"Self_Employed","type":"text","required":true,"rows":null},{"label":"Enter your income","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"Enter your co-applicant income","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"Enter your loan amount:","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Choose your loan amount term","value":"Loan_Amount_Term","type":"number","required":true,"rows":null},{"label":"Select your credit history","value":"Credit_History","type":"number","required":true,"rows":null},{"label":"Choose your property area","value":"Property_Area","type":"text","required":true,"rows":null}],"formValue":{"Gender":"","Married":"","Dependents":"","Education":"","Self_Employed":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Amount_Term":"","Credit_History":"","Property_Area":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":390,"y":440,"wires":[["1558e048.e1374","5e24657f.23a75c"]]},{"id":"1558e048.e1374","type":"debug","z":"6b689a25.9f21a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":580,"wires":[]},{"id":"5e24657f.23a75c","type":"function","z":"6b689a25.9f21a4","name":"pre-token","func":"global.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Married\",msg.payload.Married)\nglobal.set(\"Dependents\",msg.payload.Dependents)\nglobal.set(\"Education\",msg.payload.Education)\nglobal.set(\"Self_Employed\",msg.payload.Self_Employed)\nglobal.set(\"ApplicantIncome\",msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\",msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\",msg.payload.LoanAmount)\nglobal.set(\"Loan_Amount_Term\",msg.payload.Loan_Amount_Term)\nglobal.set(\"Credit_History\",msg.payload.Credit_History)\nglobal.set(\"Property_Area\",msg.payload.Property_Area)\nvar apikey=\"6uAKe_DH0OKqvkTR_Y6oIsCf5nR7thrmkbZGLasq-kqA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["b9b9e5e5.d0d0f8"]]},{"id":"b9b9e5e5.d0d0f8","type":"http request","z":"6b689a25.9f21a4","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":752.0000038146973,"y":404.00000286102295,"wires":[["3f70f1b2.9a949e","3913c180.7c18be"]]},{"id":"3f70f1b2.9a949e","type":"debug","z":"6b689a25.9f21a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":460,"wires":[]},{"id":"3913c180.7c18be","type":"function","z":"6b689a25.9f21a4","name":"Pre Prediction","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvarSelf_Employed = global.get(\"Self_Employed\")\nvarApplicantIncome = global.get(\"ApplicantIncome\")\nvarCoapplicantIncome = global.get(\"CoapplicantIncome\")\nvarLoanAmount = global.get(\"LoanAmount\")\nvarLoan_Amount_Term = global.get(\"Loan_Amount_Term\")\nvarCredit_History = global.get(\"Credit_History\")\nvarProperty_Area = global.get(\"Property_Area\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"Gender\",\"Married\",\"Dependents\",\"Education\",\"Self_Employed\",\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Amount_Term\",\"Credit_History\",\"Property_Area\"],\"values\":[[Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":944.0000076293945,"y":356.0000021457672,"wires":[["a4bc2dc3.0ba1b"]]},{"id":"9a6f2338.7db27","type":"debug","z":"6b689a25.9f21a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1322.9999914169312,"y":464.00000381469727,"wires":[]},{"id":"d633e6ea.c87678","type":"inject","z":"6b689a25.9f21a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":260,"wires":[["5e24657f.23a75c"]]},{"id":"1717e8b7.7eff07","type":"debug","z":"6b689a25.9f21a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":220,"wires":[]},{"id":"75fa7f6a.4628c","type":"function","z":"6b689a25.9f21a4","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":280,"wires":[["1717e8b7.7eff07","301e5ea6.b7d1c2","4fd2c9de.45bb28"]]},{"id":"301e5ea6.b7d1c2","type":"ui_text","z":"6b689a25.9f21a4","group":"3ea44d2.b3e7db2","order":3,"width":0,"height":0,"name":"","label":"YOU ARE ELIGIBLE OR NOT(Y-Yes, N-No):  ","format":"{{msg.payload}}","layout":"row-left","x":1227.6000366210938,"y":521.2000122070312,"wires":[]},{"id":"a4bc2dc3.0ba1b","type":"http request","z":"6b689a25.9f21a4","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/200340e6-676d-43e6-a406-525145ab6d0d/predictions?version=2020-11-22","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":380,"wires":[["9a6f2338.7db27","75fa7f6a.4628c"]]},{"id":"5b78eda0.5a3014","type":"ui_template","z":"6b689a25.9f21a4","d":true,"group":"3ea44d2.b3e7db2","name":"Footer","order":5,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n    <meta charset=\"utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<link rel=\"shortcut icon\" href=\"https://dl.dropbox.com/s/yofbigw3fu8xx7g/styles.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"\">\n        <script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n        \n\t</head>\n\n    <body>\n\n        <!-- Footer -->\n       <div class='footer'>\n           <p class='footer-description'>Developed by K N Pavani</p>\n       </div>\n\n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":760,"wires":[[]]},{"id":"fa60b20b.4dba9","type":"ui_template","z":"6b689a25.9f21a4","group":"3ea44d2.b3e7db2","name":"Header and Background","order":1,"width":"10","height":"1","format":"\n<!DOCTYPE html>\n\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<title>Predict Loan Approved or not using IBM Auto AI service</title>\n\t\t<link rel=\"shortcut icon\" href=\"{{ url_for('static', filename='logo.ico') }}\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://dl.dropbox.com/s/yofbigw3fu8xx7g/styles.css\">\n        <script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n       \n\t    \n\t</head>\n\n    <body>\n\n        <!-- Website Title -->\n    \t<div class=\"container\" >\n            <h2 class='container-heading'><span class=\"heading_font\">YOUR ARE ELIGIBLE FOR LOAN?</span></h2>\n            <div class='description'>\n    \t\t\t<p>Check you are eligible for loan or Not</p>\n    \t\t</div>\n    \t</div>\n    \t\n<style>\n    body {\n        background-image: url(\"\");\n        \n        background-size: auto;\n        \n    }\n</style>\n\n\n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":720,"wires":[[]]},{"id":"4fd2c9de.45bb28","type":"ui_template","z":"6b689a25.9f21a4","group":"3ea44d2.b3e7db2","name":"Prediction Results","order":4,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<meta charset=\"utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<title>BANK LOAN APPROVAL PREDICTION</title>\n\t\t<link rel=\"shortcut icon\" href=\"https://image.freepik.com/free-vector/glossy-red-heart-with-white-heartbeat-pulse-blue-molecules-background-medical-concept_1302-5653.jpg\">\n\t\t<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='styles.css') }}\">\n\t\t<script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n\t\t\n\t</head>\n<body><style>\nbody {\n  background-image: url('https://miro.medium.com/max/700/0*eC1EUwoo6rMOypir');\n  background-repeat: no-repeat;\n  background-attachment: fixed;\n  background-size: cover;\n}\n\n</style>\n\t<!-- Result -->\n\t\t<div class=\"results\">\n          <div ng-if=\"msg.payload == 'Y' \">\n            \n            <h1>Prediction: <span class='safe'>Great! You are eligible for loan.</span></h1>\n\t\t\t\t<div class=\"gyan\">\n\t\t\t\t\t<h1 style=\"color: green;\"><p>Tips for Loan Prediction:</p><br><p>Dear customer, Coonragulations!!<br> You can now apply to the Bank loan approval application by clicking on the Link below.</p><br><p>Please Click here:</p><br<p><a href=\"https://www.google.com\">Visit google.com!</a></p></h1>\n\t\t\t\t\t<ul>\n\t\t\t\t\t\n\t\t\t\t\t</ul>\t\t\t\t\n\t\t\t\t</div>\n            \n        </div>\n        <div ng-if=\"msg.payload == 'N'  \">\n            \n            <h2>Prediction: <span class='danger'>Sorry,You are not eligible for loan.</span></h2>\n       \t    <h2 style=\"color: red;\">Tips for Loan Prediction:<br><p>Thank you for visiting our bank loan eligiblity prediction.</p><br><p>Please,you will try in others bamk for loan.</p></h2>\n            </div>\n            <div ng-if=\"msg.payload == 'Null'  \">\n        \n        \n       \n        </div>\n\n   </div>\n  \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1210,"y":680,"wires":[[]]},{"id":"3ea44d2.b3e7db2","type":"ui_group","z":"","name":"Home","tab":"15ba0e23.8c4ec2","order":1,"disp":false,"width":"10","collapse":false},{"id":"15ba0e23.8c4ec2","type":"ui_tab","z":"","name":"Loan prediction","icon":"dashboard","order":13,"disabled":false,"hidden":false}]
